.authentication {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
}

.send {
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.form {
  text-align: center;
}

.submit-button,
.submit-button:hover, .submit-button:focus {
  background-color: var(--ternary, red);
  border: none;
  border-radius: 1rem;
  color: var(--font-color-secondary, white);
  font-weight: 500;
  width: 60%;
}

.send a {
  color: var(--secondary, gray);
}

.secondary-color {
  color: var(--font-color-secondary, white);
}

.inline {
  display: inline;
}

.error-message {
  color: var(--danger, red);
  text-align: center;
}
