.ant-btn-primary {
  background-color: var(--accent-light, grey);
  border-color: var(--accent, grey);
}

.ant-btn {
  border-color: var(--accent-light, grey);
  color: inherit;
}

.ant-btn:active, .ant-btn.active, .ant-btn:hover, .ant-btn:focus {
  border-color: var(--accent-light, grey);
  color: inherit;
}

.send .ant-btn {
  color: var(--font-color-secondary, white);
}
