.ant-drawer-body {
  padding: 0;
  height: inherit;
  overflow: auto;
}

.ant-drawer-title {
  text-align: center;
}

.menu-drawer .ant-drawer-wrapper-body {
  overflow: hidden;
}

.speech-recognition-drawer .ant-drawer-content, .speech-recognition-drawer .ant-drawer-wrapper-body {
  overflow: visible;
}
