body {
  /* stylelint-disable color-no-hex */
  --primary: #656581;
  --primary-dark: #667997;
  --secondary: #aaaabc;
  --secondary-light: #f1f1f1;
  --ternary: #f63959;
  --accent: #bfbfbf;
  --accent-light: #ededed;
  --task-paused: #ff9;
  --font-color-primary: black;
  --font-color-secondary: white;
  --font-family-title: 'New Tegomin', serif;
  --font-family-submenu: 'Source Serif Pro', serif;
  /* stylelint-enable color-no-hex */
}

#__nuxt, #__layout {
  height: 100%;
}

.block {
  margin: 1rem 0 1rem 0;
}

p {
  margin: 0;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.empty-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
}
