h4 {
  color: var(--gray-blue, gray);
}

h1,h2,h3,h4 {
  margin-bottom: 0;
}

.title {
  font-family: 'New Tegomin', serif;
  text-shadow: 0.3rem 0.3rem 0.1rem var(--dark-gray-blue, gray);
  font-size: 6rem;
  margin-top: 3rem;
  color: white;
}
