.authentication {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.send {
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
}

.form {
  text-align: center;
}

.submit-button {
  border-radius: 1rem;
  width: 60%;
  background-color: var(--ternary, red);
  color: var(--font-color-secondary, white);
  border: none;
  font-weight: 500;
}

.send a {
  color: var(--secondary, gray);
}

.secondary-color {
  color: var(--font-color-secondary, white);
}

.inline {
  display: inline;
}
